        <h1>View All Sources</h1>
	<label for="homework-name" class="homework-library-search">
		<div class="option-title">Search</div>
	</label>
	<input class="homework-library-search" type="text" name="homework_name"/>

	<div class="homework-library-results">
		<div class="homework-library-detail">
			<div class="homework-library-panel-header homework-library-border">
				Sources
			</div>
			<div class="homework-library-panel-container">
				<div 
					class="homework-library-panel-card homework-library-border">
					{{ "Source 1" }}
				</div>
				<div 
					class="homework-library-panel-card homework-library-border">
					{{ "Source 2" }}
				</div>
				<div 
					class="homework-library-panel-card homework-library-border">
					{{ "Source 3" }}
				</div>
			</div>
		</div>
	</div>