<form class="form-signin" action="javascript:void(0);" id="libraryGitForm">
    <div class="option row">
        <div class="option-desc col-md-6">
            <label for="instructions_url">
                <div class="option-title">Git Source Name</div>
            </label>
        </div>
        <div class="option-input col-md-6">
            <input type='text' name='git_src_name' id='git_src_name' class="auto_save" placeholder="Git repository" />
        </div>
    </div>
    <div class="option row">
        <div class="option-desc col-md-6">
            <label for="instructions_url">
                <div class="option-title">Git URL</div>
                <div class="option-alt">What is the url to the Git repo? (Note: Use HTTPS)</div>
            </label>
        </div>
        <div class="option-input col-md-6">
            <input type='text' name='git_url' id='git_url' class="auto_save" placeholder="https://example.com/exampleRepo.git" />
        </div>
    </div>
    <div class="row">
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </div>
</form>
<script type="text/javascript">
    $(function() {
        $("#libraryGitForm").submit(function(e){
            e.preventDefault();
            var form = e.target;
            var submitButton = form.querySelector("input[type='submit']");
            var data = { git_url: form.git_url.value, git_src_name: form.git_src_name.value };
            managerSubmitAjax('{{ git_submit_url }}', 'POST', data, submitButton);
        });
    });
</script>
