    <h1>View All Sources</h1>
    <div class="homework-library-results">
		<div class="homework-library-detail" id="library-source-list">
			<div class="homework-library-panel-header homework-library-border">
				Sources
			</div>
			<div class="homework-library-panel-container">
				{% if  libraries == null %}
                <div>
                    <center>No loaded sources. To upload a source, select the <i>Upload</i> or <i>Git</i> tab above.</center>
                </div>
                {% endif %}
                {% for source in libraries %}
                    <div class="homework-library-panel-card homework-library-border" style="display: flex; justify-content: space-between; align-items: center;">
                        <span>{{ source }}</span>
                        <span>
                            <button class="btn" onclick="refreshLibrary('{{ source }}', this)">Refresh</button>
                            <button class="btn" onclick="deleteLibrary('{{ source }}', this)">Delete</button>
                        </span>
                    </div>
                {% endfor %}
			</div>
		</div>

        <script type="text/javascript">
        function deleteLibrary(libraryName, ele) {
            if (!confirm('Are you sure you want to delete "' + libraryName + '"?')) return;
            var url =  '/manage/remove/' + libraryName;
            managerSubmitAjax(url, 'DELETE', {}, ele);
        }
        function refreshLibrary(libraryName, ele) {
            var url = '/manage/update/' + libraryName;
            managerSubmitAjax(url, 'PATCH', {}, ele);
        }
</script>
	</div>
