<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<div class="content">
    <header>
        <div>
            <h1>Library Manager</h1>
        </div>
        <div>
            <p>{{ text }}</p>
        </div>
    </header>
    <br/>
    <div class="tab-bar-wrapper">
        <a class="nav-bar normal-btn active-btn" id="page_0_nav" href="javascript:onChangeNavTab(0);">Upload</a>
        <a class="nav-bar normal-btn" id="page_1_nav" href="javascript:onChangeNavTab(1);">File Path</a>
        <a class="nav-bar normal-btn" id="page_2_nav" href="javascript:onChangeNavTab(2);">Git</a>
    </div>
    <br/>
    <br/>
    <div>
        <div class="page-content" id="page_0_content">{{ include('admin/library/LibraryUpload.twig') }}</div>
        <div class="page-content" id="page_1_content" style="display: none;"> {{ include('admin/library/LibraryFilePath.twig') }}</div>
        <div class="page-content" id="page_2_content" style="display: none;"> {{ include('admin/library/LibraryGit.twig') }}</div>
    </div>
</div>

<script type="text/javascript">
    function onChangeNavTab(tab) {
        if (tab > 2 || tab < 0) {
            alert('Invalid Navigation');
            return;
        }

        $('.page-content').hide();
        $('#page_' + tab + '_content').show();
        for (var i = 0; i < 3; i++)
        {
            $('#page_' + i + '_nav').removeClass('active-btn');
        }
        $('#page_' + tab + '_nav').addClass('active-btn');
    }
</script>

