<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<div class="content shadow">
    <header>
        <h2>Homework Library - WIP</h2>
        <div class="btn-wrapper">
            <a class="btn btn-primary" href="/homework/library/manage">Manage Libraries</a>
        </div>
    </header>
	<label for="homework-name" class="homework-library-search">
		<div class="option-title">Search for Preset</div>
		<div class="option-alt">Input the Preset title or any related information</div>
	</label>
	<input class="homework-library-search" type="text" name="homework_name" id="homework-name" value="{{ fields['course_name'] }}" />

	<div class="homework-library-results">
		<div class="homework-library-preview homework-library-border">
			<div class="homework-library-panel-header">
				Preview
			</div>
			<div class="homework-library-panel-container">
				{% for key, value in results %}
					<div 
						class="homework-library-panel-card homework-library-border"
						data-index={{ key }}
					>
						{{ value }}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="homework-library-detail">
			<div class="homework-library-panel-header homework-library-border">
				Detail
			</div>
			<div class="homework-library-panel-container">
				<div class="homework-library-panel-content homework-library-border"></div>
			</div>
		</div>
	</div>
</div>